{% extends 'board/base.html' %}

{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<div class="slideshow-container" style="margin: 0px; width:100%; height: 50%;">
	<div class="mySlides fade">
		<div class="numbertext">1 / 3</div>
		<img src="{% static 'images/osori.jpg' %}" style="width:100%; height:50%;">
		<div class="text">Caption Text</div>
	</div>

	<div class="mySlides fade">
		<div class="numbertext">2 / 3</div>
		<img src="{% static 'images/camelia.jpg' %}" style="width:100%; height:50%;">
		<div class="text">Caption Two</div>
	</div>

	<div class="mySlides fade">
		<div class="numbertext">3 / 3</div>
		<img src="{% static 'images/love.jpg' %}" style="width:100%; height:50%;">
		<div class="text">Caption Three</div>
	</div>

	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
	<span class="dot" onclick="currentSlide(1)"></span>
	<span class="dot" onclick="currentSlide(2)"></span>
	<span class="dot" onclick="currentSlide(3)"></span>
</div>
<div class="ui center aligned container">
	<h3>
		한양대학교 오픈소스동아리 오소리입니다.<br>
		Welcome to OSORI!<br>
	</h3>
	<br>
	<h6>* 이 페이지는 오소리 웹사이트 팀의 깜짝과제를 위해 만들어졌습니다.</h6>
	<br>
	<br>
</div>
<script>
	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) {
  		showSlides(slideIndex += n);
	}

	function currentSlide(n) {
  		showSlides(slideIndex = n);
	}

	function showSlides(n) {
  		var i;
  		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("dot");

		if (n > slides.length) {
			slideIndex = 1
		}

		if (n < 1) {
			slideIndex = slides.length
		}

		for (i = 0; i < slides.length; i++) {
		  slides[i].style.display = "none";
		}

		for (i = 0; i < dots.length; i++) {
		  dots[i].className = dots[i].className.replace(" active", "");
		}

		slides[slideIndex-1].style.display = "block";
		dots[slideIndex-1].className += " active";
	}
</script>
{% endblock content %}
